asgiref==3.11.0
autopep8==2.3.2
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.8
django-cors-headers==4.9.0
django-debug-toolbar==6.1.0
django-silk==0.5.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.0
drf-yasg==1.21.11
idna==3.11
inflection==0.5.1
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pycodestyle==2.14.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
redis==7.1.0
requests==2.32.5
simplejson==3.20.2
six==1.17.0
sqlparse==0.5.3
uritemplate==4.2.0
urllib3==2.5.0
